/**
 * cov styles.
 */

@import "variables";

// calcite theming (overrides only)
:root {
  --calcite-ui-brand: #{$cov};
  --calcite-ui-brand-hover: #{$cov-hover};
  --calcite-ui-brand-press: #{$cov-press};
  --calcite-ui-text-link: #{$cov-hover};
  --calcite-link-blue-underline: rgba(57, 89, 51, 0.4);
  font-family: $font-family;
}

// same here since @arcgis/core adds this to view ui since 4.20
.calcite-theme-light {
  --calcite-ui-brand: #{$cov};
  --calcite-ui-brand-hover: #{$cov-hover};
  --calcite-ui-brand-press: #{$cov-press};
  --calcite-ui-text-link: #{$cov-hover};
  --calcite-link-blue-underline: rgba(57, 89, 51, 0.4);
  font-family: $font-family;
}

/** global esri overrides **/

// tighten up ui
.esri-ui-top-right {
  top: -5px;
  right: -5px;
}

.esri-ui-top-left {
  top: -5px;
  left: -5px;
}

.esri-ui-bottom-left {
  bottom: -5px;
  left: -5px;
}

.esri-ui-top-right {
  top: -5px;
  right: -5px;
}

// smaller basemap toggle
.esri-basemap-toggle {
  width: 59px;
  height: 59px;
}

.esri-basemap-toggle__container,
.esri-basemap-toggle__image {
  width: 54px;
  height: 54px;
  border-radius: var(--calcite-border-radius);
}

// view focus fix
.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: 2px auto rgba(57, 89, 51, 0.5);
  outline-offset: -1px;
}

/** widgets **/

.cov-widget {
  background-color: var(--calcite-ui-background);
  color: var(--calcite-ui-text-1);
  padding: 0.75rem;
}

.cov-tabbed-widget {
  padding: 0.5rem;
  background-color: var(--calcite-ui-background);
  color: var(--calcite-ui-text-1);

  calcite-tab {
    width: 100%;
    padding: 0.75rem 0.25rem;
  }

  &.cov-tabbed-widget--no-padding {
    calcite-tab {
      padding: 0;
    }
  }

  &.cov-tabbed-widget--scrolling {
    calcite-tab {
      max-height: 50vh;
      overflow: auto;
    }
  }
}

.cov-widget--title {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;

  calcite-icon {
    cursor: pointer;
    user-select: none;
    color: var(--calcite-ui-brand);
    &:hover {
      color: var(--calcite-ui-brand-hover);
    }
  }

  calcite-popover {
    padding: 0.75rem;
    max-width: 260px;

    p {
      margin: 0.75rem;
    }
  }
}

.cov-widget--title--text {
  font-size: var(--calcite-font-size-0);
  // font-weight: 500;
}

/** all apps **/

html,
body {
  font-family: $font-family;
  color: var(--calcite-ui-text-1);
  background-color: var(--calcite-ui-background);
  // set font size to scale calcite
  font-size: 16px;
}
