.cov-widget {
  background-color: var(--calcite-ui-background);
  color: var(--calcite-ui-text-1);
  padding: 0.75rem;
}

.cov-tabbed-widget {
  padding: 0.5rem;
  background-color: var(--calcite-ui-background);
  color: var(--calcite-ui-text-1);

  calcite-tab {
    width: 100%;
    padding: 0.75rem 0.25rem;
  }

  &.cov-tabbed-widget--no-padding {
    calcite-tab {
      padding: 0;
    }
  }

  &.cov-tabbed-widget--scrolling {
    calcite-tab {
      max-height: 50vh;
      overflow: auto;
    }
  }
}

.cov-widget--title {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;

  calcite-icon {
    cursor: pointer;
    user-select: none;
    color: var(--calcite-ui-brand);
    &:hover {
      color: var(--calcite-ui-brand-hover);
    }
  }

  calcite-popover {
    padding: 0.75rem;
    max-width: 260px;

    p {
      margin: 0.75rem;
    }
  }
}

.cov-widget--title--text {
  font-size: var(--calcite-font-size-0);
}
