$brand: #6b9560;
$brand-hover: darken($brand, 7.5);
$brand-press: darken($brand, 13);
$link-underline: rgba($brand-press, 0.4);

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: var(--calcite-ui-background);
  color: var(--calcite-ui-text-1);
}

// arcgis js api overrides
.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
  outline-offset: 0;
}

.esri-ui-corner .esri-component {
  box-shadow: none !important;
}

// shell application
.cov-application {
  height: 100vh;
}

.cov-application--ui-title {
  user-select: none;
  box-shadow: none !important;
  font-size: var(--calcite-font-size-2);
  font-weight: var(--calcite-font-weight-medium);
  color: var(--calcite-ui-text-inverse);
  line-height: 1;
  letter-spacing: 0.0625rem;
  text-shadow: 1px 1px 4px black, 1px 1px 5px black, 1px 1px 6px black;
}

.cov-application--view {
  width: 100%;
  height: 100%;
}

// header widget
.cov-application--header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: var(--calcite-ui-brand);
}

.cov-application--header--title {
  user-select: none;
  margin: 0 0.75rem;
  font-size: var(--calcite-font-size-1);
  color: var(--calcite-ui-text-inverse);
}

.cov-application--header .esri-search {
  .esri-widget--button {
    width: 40px;
  }
  .esri-widget--button,
  .esri-input {
    height: 40px;
    background: lighten($brand, 2.5%);
    color: white;
  }
  .esri-search__input {
    &::-webkit-input-placeholder,
    &::placeholder {
      color: rgba(white, 0.6);
    }
  }
  .esri-search__sources-button {
    border: none;
  }
  .esri-search__submit-button {
    border: none;
  }
  .esri-menu {
    margin-top: 4px;
  }
  .esri-menu__list-item--active,
  .esri-menu__list-item--active:hover,
  .esri-menu__list-item--active:focus {
    background-color: lighten($brand, 40%);
    border-left-color: $brand;
  }

  .esri-menu__list-item--focus,
  .esri-menu__list-item:hover,
  .esri-menu__list-item:focus {
    background-color: lighten($brand, 40%);
  }

  .esri-search__source.esri-menu__list-item:active {
    background-color: lighten($brand, 30%);
    // background-color: $brand;
  }
}

@media screen and (min-width: 880px) {
  .cov-application--header .esri-search {
    width: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .cov-application--header .esri-search {
    width: 440px;
  }
}

.cov-application--header--user {
  margin: 0 0.75rem;
}

// user widget
// .cov-application--user-control {
//   &.esri-component {
//     width: 28px;
//     box-shadow: none !important;
//   }
// }

// .cov-application--user-control--signed-in {}

// .cov-application--user-control--signed-out {}

.cov-application--user {
  display: flex;
  flex-flow: column;
  padding: 1rem;
}

.cov-application--user--info {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  calcite-avatar {
    margin-right: 1rem;
  }
}

.cov-application--user--links {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  calcite-link {
    margin: 0 0.25rem;
  }
}

// loader widget
.cov-application--loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  user-select: none;
  color: var(--calcite-ui-text-2);
  background-color: var(--calcite-ui-background);
}

.cov-application--loader--content {
  display: flex;
  flex-flow: column;

  form {
    margin: 1rem 0;
  }

  calcite-progress {
    margin: 2rem 0;
  }

  calcite-button[icon-start="sign-in"] {
    margin: 1rem 0;
  }
}

.cov-application--loader--title {
  font-size: var(--calcite-font-size-2);
  text-align: center;
}

.cov-application--loader--text {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-size: var(--calcite-font-size--1);
}

.cov-application--loader--heart,
.cov-application--loader--coffee {
  width: var(--calcite-font-size--1);
  height: var(--calcite-font-size--1);
  margin: 0 0.35rem;
}

.cov-application--loader--heart {
  color: #d9534f;
}

.cov-application--loader--coffee {
  color: #be9969;
}

// selector widget
.cov-application--ui-selector--panels {
  position: absolute;

  // calcite-panel {
  //   box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  // }
}

.cov-application--ui-selector--left {
  top: 0;
  left: calc(100% + 8px);
}

.cov-application--ui-selector--right {
  top: 0;
  right: calc(100% + 8px);
}
