.cov-share {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: none !important;

  .fb-share-button {
    margin-right: 1rem;
  }
}
