.cov-editor__geometry-editor {
  p {
    margin: 0.5rem 0 0.5rem 0;
    font-weight: var(--calcite-font-weight-medium);

    &:first-child {
      margin-top: 0;
    }
  }
}

.cov-editor__geometry-editor--buttons {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  calcite-button {
    margin: 0 0.25rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
