// .cov-editor__geometry-info {}

.cov-editor__geometry-info--result {
  margin-bottom: 0.75rem;

  span {
    &:first-child {
      font-weight: var(--calcite-font-weight-medium);
    }
  }
}

.cov-editor__geometry-info--units {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  calcite-label {
    width: 50%;

    &:first-child {
      margin-right: 0.75rem;
    }
    &:last-child {
      margin-left: 0.75rem;
    }
  }
}
