.cov-simple-info {
  display: flex;
  max-width: 320px;
  max-height: 75vh;
  overflow: hidden;
  background-color: var(--calcite-ui-background);
}

.cov-simple-info--scroll {
  padding: 0.75rem;
  font-size: 0.8rem;
  overflow: auto;

  h3 {
    margin-top: 0;
  }

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
