.cov-layer-list-legend {
  min-width: 260px;
  padding: 0.25rem 0 0 0;
  background-color: var(--calcite-ui-background);

  calcite-tab {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .esri-layer-list {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--calcite-ui-background);
  }

  .esri-legend {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--calcite-ui-background);
    // disable weird focusing with legend inside calcite-tab
    * {
      pointer-events: none;
    }
  }

  .esri-layer-list, .esri-legend {
    border-bottom-left-radius: var(--calcite-border-radius);
    border-bottom-right-radius: var(--calcite-border-radius);
  }
}