// .cov-color-picker {}

.cov-color-picker--row {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.cov-color-picker--chip {
  cursor: pointer;
  width: 16px;
  height: 16px;

  &.selected {
    width: 14px;
    height: 14px;
    margin: 1px;
  }
}
