.cov-layer-list-legend {
  .esri-layer-list,
  .esri-legend {
    width: 100%;
    overflow: auto;
    border-bottom-left-radius: var(--calcite-border-radius);
    border-bottom-right-radius: var(--calcite-border-radius);
  }

  .esri-layer-list {
    padding: 0;
    background-color: var(--calcite-ui-background);
  }

  .esri-legend {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--calcite-ui-background);
    // disable weird focusing with legend inside calcite-tab
    * {
      pointer-events: none;
    }

    * {
      font-size: var(--calcite-font-size--2);
      font-weight: 100;
    }

    .esri-legend__service {
      padding: 6px 7.5px;
    }

    .esri-legend__layer-table {
      margin-bottom: 4px;
    }

    .esri-legend__layer-cell--symbols {
      padding: 0;
    }

    .esri-legend__symbol {
      svg {
        transform: scale(75%);
      }
    }

    .esri-widget__heading {
      margin-bottom: 0.25rem;
    }
  }
}

.cov-layer-list-legend--title {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.cov-layer-list-legend--add-layers {
  display: flex;
  flex-flow: column;
  color: var(--calcite-ui-text-1);

  calcite-list-item {
    border-bottom: solid 1px var(--calcite-ui-border-1);
  }
}

.cov-layer-list-legend--add-button {
  padding: 0.75rem 0.75rem 0.25rem;
}

.cov-layer-list-legend--imagery-tab {
  display: flex;
  flex-flow: column;
  padding: 0 0.75rem;
  color: var(--calcite-ui-text-1);
}
