.cov-loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  user-select: none;
  color: var(--calcite-ui-text-2);
  background-color: var(--calcite-ui-background);
}

.cov-loading-screen--info {
  display: flex;
  flex-flow: column;
  width: 300px;
}

.cov-loading-screen--title {
  font-size: var(--calcite-font-size-2);
  line-height: 1;
  margin-bottom: 1.25rem;
  text-align: center;
}

.cov-loading-screen--copyright,
.cov-loading-screen--made-with {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: var(--calcite-font-size--1);
  line-height: 1;
}

.cov-loading-screen--copyright {
  margin: 1.25rem 0 0.5rem;
}

.cov-loading-screen--heart,
.cov-loading-screen--coffee {
  width: var(--calcite-font-size--1);
  height: var(--calcite-font-size--1);
  margin: 0 0.35rem;
}

.cov-loading-screen--heart {
  color: #d9534f;
}

.cov-loading-screen--coffee {
  color: #be9969;
}

.cov-loading-screen--built-with {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: var(--calcite-ui-brand);
  font-size: var(--calcite-font-size--1);
}
