.cov-markup {
  padding-bottom: 0.25rem;
}

.cov-markup--heading {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--calcite-ui-text-1);
}

.cov-markup--button-row {
  margin-bottom: 0.75rem;

  &:last-child {
    margin-bottom: 0;
  }

  calcite-button {
    margin: 0 0.25rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.cov-markup--input-row {
  display: flex;
  flex-flow: row;

  calcite-label {
    width: 100%;
    margin: 0 0.25rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


.cov-markup--popup-content {
  padding: 1rem;
  width: 220px;
}

.cov-markup--popup-heading {
  margin-bottom: 1rem;
  font-size: 0.95rem;
  font-weight: 500;
}
