.cov-measure {
  padding-bottom: 0.25rem;
}

.cov-measure--row {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 0.75rem;

  calcite-button, calcite-select {
    width: 100%;
  }

  calcite-button {
    margin-right: 0.25rem;
  }

  calcite-select {
    margin-left: 0.25rem;
  }
}

.cov-measure--result {
  color: var(--calcite-ui-text-1);
}

.cov-measure--clear-button {
  display: none;
  margin-top: 0.75rem;

  &.visible {
    display: block;
  }
}