.cov-print {
  min-width: 240px;
}

.cov-print--print-result {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 0.5rem;
  &:first-child {
    margin-top: 0.75rem;
  }
}

.cov-print--button-row {
  display: flex;
  flex-flow: row;

  calcite-button {
    margin: 0 0.25rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.cov-print--snapshot-result {
  margin-top: 0.75rem;
  height: 52px;
  background-position: center center;
  background-repeat: no-repeat;
}

.cov-print--snapshot-download-button {
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.cov-print--snapshot-area {
  display: none;
  position: absolute;
  background: rgba(red, 0.1);
  border: 3px dashed red;
}
