.cov-symbol-editor--row {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;

  calcite-label {
    width: 100%;
    margin: 0 0.25rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.cov-symbol-editor--slider-labels {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: -10px;
  width: 100%;

  span {
    margin: 0;
    line-height: 1;
    font-size: var(--calcite-font-size--3);
    font-weight: 500;
    color: var(--calcite-ui-text-2);
  }
}
