.cov-tax-lot-surveys {
  p {
    margin-bottom: 0;
  }
}

.cov-tax-lot-surveys--results {
  max-height: 50vh;
  overflow: auto;
  margin-top: 0.75rem;
}

.cov-tax-lot-surveys--result {
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--calcite-ui-border-1);

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  div {
    margin-bottom: 0.125rem;
  }
}

.cov-tax-lot-surveys--result-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.cov-tax-lot-surveys--strong {
  font-weight: 500;
}

.cov-tax-lot-surveys--small {
  font-size: 0.8rem;
}
 