@use "./../scss/header" as header;
@use "./../scss/variables" as vars;

// header
.cov--application-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  height: 38px;
  padding: 8px 16px;
  background: url(#{header.$header-background}), center, center,
    linear-gradient(90deg, rgba(vars.$brand-dark, 1) 0%, rgba(vars.$brand, 1) 100%);
  color: white;
}

.cov--application-header_title-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;

  * {
    user-select: none;
  }
}

.cov--application-header_title-logo {
  height: 36px;
}

.cov--application-header_title-text {
  font-size: 21px;
  overflow-x: hidden;
  white-space: nowrap;
}

@media (max-width: 650px) {
  .cov--application-header_title-text {
    display: none;
  }
}

.cov--application-header_search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 1 442px;
}

.cov--application-header_controls-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

// search
.cov--header-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: rgba(vars.$brand, 0.65);
  border-radius: var(--calcite-border-radius);

  --calcite-button-background-color: transparent;

  --calcite-color-focus: rgba(255, 255, 255, 0);

  form, calcite-autocomplete {
    width: 100%;
  }

  calcite-autocomplete-item {
    --calcite-color-focus: var(--calcite-color-brand);
  }

  --calcite-autocomplete-input-background-color: transparent;

  --calcite-autocomplete-input-border-color: transparent;

  --calcite-autocomplete-input-placeholder-text-color: rgba(255, 255, 255, 0.75);
  --calcite-autocomplete-input-text-color: #fff;

  --calcite-autocomplete-input-actions-background-color: transparent;
  --calcite-autocomplete-input-actions-background-color-hover: transparent;
  --calcite-autocomplete-input-actions-background-color-press: transparent;

  --calcite-autocomplete-input-corner-radius: var(--calcite-border-radius);

  --calcite-autocomplete-input-actions-icon-color: #fff;
  --calcite-autocomplete-input-actions-icon-color-hover: #fff;
  --calcite-autocomplete-input-actions-icon-color-press: #fff;
}

// user
.cov--header-user {
  display: flex;
  justify-content: center;
  align-items: center;

  calcite-icon,
  calcite-avatar {
    cursor: pointer;
  }

  // calcite-avatar {
  //   --calcite-avatar-background-color: #623D69;
  //   --calcite-avatar-color: #fff;
  // }
}

.cov--header-user_popover {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  padding: 0.75rem 1rem;

  span {
    font-size: var(--calcite-font-size-sm);
    color: var(--calcite-color-text-3);
  }
}
