.cov--attribution {
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);

  calcite-popover {
    --calcite-popover-text-color: var(--calcite-color-text-2);
  }
}

.cov--attribution_content {
  max-width: 360px;
  padding: var(--calcite-spacing-sm);
  font-size: var(--calcite-font-size--2);
}
