// :root {
//   --cov-layers-legend-font-weight: 100;
// }

.cov--layers-legend {
  arcgis-legend {
    --arcgis-legend-internal-width: auto;

    --calcite-font-size: var(--calcite-font-size--2);
  }

  arcgis-layer-list,
  arcgis-legend {
    &[hidden=""] {
      display: none;
    }
  }
}
