$spacing: 0.75rem;

.cov--measure{
  --calcite-panel-background-color: var(--calcite-color-foreground-1);
  --calcite-panel-space: #{$spacing};
}

.cov--measure_buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-bottom: $spacing;
  border-bottom: 1px solid var(--calcite-color-border-3);
}

.cov--measure_options {
  padding: $spacing;
}

.cov--measure_results {
  padding-top: $spacing;
  line-height: 1.25rem;

  hr {
    border: none;
    height: 1px;
    margin-block-start: $spacing;
    margin-block-end: $spacing;
    background-color: var(--calcite-color-border-3);
  }
}
