@import "../../node_modules/@arcgis/core/assets/esri/themes/base/_color.scss";
@import "../../node_modules/@arcgis/core/assets/esri/themes/base/_mixins.scss";
@import "../../node_modules/@arcgis/core/assets/esri/themes/base/_sizes.scss";
@import "../../node_modules/@arcgis/core/assets/esri/themes/base/_type.scss";

$include_Legend: true;
@import "../../node_modules/@arcgis/core/assets/esri/themes/base/widgets/_Legend.scss";

.cov--streets-shell-panel {
  .esri-legend {
    padding: 0;

    .esri-legend__service {
      padding: 0;
    }

    .esri-legend__layer {
      margin: 0;
    }

    .esri-legend__layer-table {
      margin-bottom: 0;
    }

    .esri-legend__layer-cell--symbols {
      padding: 0;
    }

    .esri-widget__heading, .esri-legend__layer-caption {
      display: none;
    }
  }
}

.cov--streets-shell-panel_data-info {
  // font-size: var(--calcite-font-size--2);

  p {
    margin: 0.5rem 0;
  }

  :first-child {
    margin-top: 0;
    padding-top: 0;
  }

  :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.cov--streets-shell-panel_notice[open] {
  margin: 0.5rem;
}

.cov--streets-shell-panel_panel {
  --calcite-panel-space: 0.75rem;
  --calcite-panel-background-color: var(--calcite-color-foreground-1);
}
