.cov-full-map {
  width: 100%;
  height: 100%;
}

.cov-full-map--title {
  user-select: none;
  box-shadow: none !important;
  font-size: var(--calcite-font-size-2);
  font-weight: 500;
  color: var(--calcite-ui-text-inverse);
  letter-spacing: 0.0625rem;
  text-shadow: 1px 1px 4px black, 1px 1px 5px black, 1px 1px 6px black;
}
