@import "./../css/variables";

.cov-viewer {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cov-viewer--header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: $cov;
  color: var(--calcite-ui-text-inverse);
}

.cov-viewer--header-title {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: var(--calcite-font-size--1);
  user-select: none;
}

.cov-viewer--header-title--menu-toggle {
  margin-right: var(--calcite-font-size--2);
  cursor: pointer;
}

.cov-viewer--header-title--title-text {
  font-size: var(--calcite-font-size-1);
  font-weight: 100;
}

.cov-viewer--header .esri-search {
  .esri-widget--button {
    width: 40px;
  }
  .esri-widget--button,
  .esri-input {
    height: 40px;
    background: lighten($cov, 2.5%);
    color: white;
  }
  .esri-search__input {
    &::-webkit-input-placeholder,
    &::placeholder {
      color: rgba(white, 0.6);
    }
  }
  .esri-search__sources-button {
    border: none;
  }
  .esri-search__submit-button {
    border: none;
  }
  .esri-menu {
    margin-top: 4px;
  }
  .esri-menu__list-item--active,
  .esri-menu__list-item--active:hover,
  .esri-menu__list-item--active:focus {
    background-color: lighten($cov, 60%);
    border-left-color: $cov;
  }

  .esri-menu__list-item--focus,
  .esri-menu__list-item:hover,
  .esri-menu__list-item:focus {
    background-color: lighten($cov, 60%);
  }

  .esri-search__source.esri-menu__list-item:active {
    background-color: lighten($cov, 60%);
  }
}

@media screen and (min-width: 880px) {
  .cov-viewer--header .esri-search {
    width: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .cov-viewer--header .esri-search {
    width: 440px;
  }
}

.cov-viewer--center {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
}

.cov-viewer--view {
  width: 100%;
  height: 100%;
}

.cov-viewer-menu-widgets--panel {
  height: calc(100vh - 40px);
  overflow: auto;
}
