@import "variables";

// browsers have gotten weird with the focused view outline
.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
  outline-offset: 0;
}

.esri-view .esri-view-surface::after {
  outline: none !important;
  outline-offset: 0;
}

// tighten up ui
.esri-ui-top-right {
  top: -5px;
  right: -5px;
}

.esri-ui-top-left {
  top: -5px;
  left: -5px;
}

.esri-ui-bottom-left {
  bottom: -5px;
  left: -5px;
}

.esri-ui-bottom-right {
  bottom: -5px;
  right: -5px;
}

// smaller basemap toggle
.esri-basemap-toggle {
  width: 59px;
  height: 59px;
  .esri-basemap-toggle__container,
  .esri-basemap-toggle__image {
    width: 54px;
    height: 54px;
    border-radius: var(--calcite-border-radius);
  }
}

// popup
.esri-popup__main-container {
  border-radius: var(--calcite-border-radius);

  .esri-popup__header-title {
    font-size: var(--calcite-font-size-0);
    font-weight: var(--calcite-font-weight-normal);
    color: $brand-dark;
  }

  .esri-popup__collapse-icon {
    color: $brand-dark;
  }

  .esri-popup__button {
    border-radius: var(--calcite-border-radius);
    color: $brand-dark;
    &:hover {
      background-color: $brand-popup-button-hover-background;
    }
  }

  .esri-popup__header-container--button,
  .esri-popup__pagination-previous,
  .esri-popup__pagination-next,
  .esri-popup__feature-menu-button {
    color: $brand-dark;
    border-radius: 0;
    &:hover {
      background-color: $brand-popup-button-hover-background;
    }
  }

  .esri-popup__feature-menu-item--selected {
    background-color: $brand-popup-selected-background;
  }

  .esri-popup__navigation {
    border-radius: var(--calcite-border-radius);
  }
}

.esri-popup--feature-menu-open .esri-popup__feature-menu-button {
  background-color: $brand-popup-selected-background;
}

// table
.esri-widget__table {
  background-color: transparent;
  border-radius: var(--calcite-border-radius);
}

.esri-widget__table tr th {
  border-right: 3px solid rgba($brand, 0.125);
}

.esri-widget__table tr:nth-child(odd) {
  background-color: rgba($brand, 0.05);
}

.esri-widget__table tr:nth-child(even) {
  background-color: rgba($color: #ffffff, $alpha: 0) !important;
}
