.cov-measure {
  width: 290px;
  padding: 0.25rem;
  background-color: var(--calcite-ui-background);

  calcite-tab {
    width: 100%;
    padding: 0.75rem;
  }
}

.cov-measure--row {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  margin-bottom: 0.75rem;

  &.cov-measure--result {
    display: block;
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  calcite-button {
    width: 100%;
    margin-right: 0.375rem;
  }
  calcite-select {
    width: 100%;
    margin-left: 0.375rem;
  }

  label {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }
  calcite-switch {
    margin-right: 0.5rem;
  }
}

.cov-measure--clear {
  display: none;
  margin-top: 0.75rem;

  &.cov-measure--clear-visible {
    display: block;
  }
}

