//////////////////////////////////////
// vernonia brand colors and variables
//////////////////////////////////////
$brand: #6b9560;
$brand-hover: darken($brand, 7.5);
$brand-press: darken($brand, 13);
$link-underline: rgba($brand-press, 0.4);
$brand-dark: #44693d;
$box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
