// include esri widget scss required for cov widgets
// excluded widgets can be included with custom theming in app
$include_AreaMeasurement2D: false !default;
$include_AreaMeasurement3D: false !default;
$include_Attachments: true !default;
$include_Attribution: true !default;
$include_BasemapGallery: false !default;
$include_BasemapLayerList: false !default;
$include_BasemapToggle: true !default;
$include_BinaryColorSizeSlider: false !default;
$include_Bookmarks: false !default;
$include_BuildingExplorer: false !default;
$include_ButtonMenu: false !default;
$include_ClassedColorSlider: false !default;
$include_ClassedSizeSlider: false !default;
$include_ColorPicker: false !default;
$include_ColorSizeSlider: false !default;
$include_ColorSlider: false !default;
$include_Compass: false !default;
$include_CoordinateConversion: false !default;
$include_DatePicker: false !default;
$include_Daylight: false !default;
$include_DirectionalPad: false !default;
$include_Directions: false !default;
$include_DirectLineMeasurement3D: false !default;
$include_DistanceMeasurement2D: false !default;
$include_Editor: false !default;
$include_ElevationProfile: true !default;
$include_Expand: false !default;
$include_Feature: true !default;
$include_FeatureContent: true !default;
$include_FeatureForm: true !default;
$include_FeatureMedia: true !default;
$include_Features: true !default;
$include_FeatureTable: true !default;
$include_FeatureTemplates: true !default;
$include_FloorFilter: false !default;
$include_Grid: false !default;
$include_HeatmapSlider: false !default;
$include_Histogram: false !default;
$include_HistogramRangeSlider: false !default;
$include_IdentityModal: false !default;
$include_ItemList: false !default;
$include_LabeledSwitch: false !default;
$include_LayerList: true !default;
$include_Legend: true !default;
$include_LineOfSight: false !default;
$include_Measurement: false !default;
$include_MeasurementWidgetContent: false !default;
$include_NavigationToggle: false !default;
$include_OpacitySlider: false !default;
$include_OrientedImageryViewer: false !default;
$include_PanoramicViewer: false !default;
$include_Popup: true !default;
$include_Print: false !default;
$include_SaveLayer: false !default;
$include_ScaleBar: false !default;
$include_ScaleRangeSlider: false !default;
$include_Search: true !default;
$include_SelectionToolbar: false !default;
$include_ShadowCast: false !default;
$include_SizeSlider: false !default;
$include_Sketch: false !default;
$include_SketchTooltipControls: false !default;
$include_Slice: false !default;
$include_Slider: false !default;
$include_SnappingControls: false !default;
$include_Spinner: false !default;
$include_Swipe: false !default;
$include_TableList: false !default;
$include_TimePicker: false !default;
$include_TimeSlider: false !default;
$include_TimeZoneLabel: false !default;
$include_TimezonePicker: false !default;
$include_Tooltip: false !default;
$include_UnitSelect: false !default;
$include_UtilityNetworkAssociations: false !default;
$include_UtilityNetworkTrace: false !default;
$include_UtilityNetworkValidateTopology: false !default;
$include_ValuePicker: false !default;
$include_VideoPlayer: false !default;
$include_Weather: false !default;
$include_Zoom: false !default;

// @arcgis/core font paths for vite to resolve
$icomoon-font-path: "@arcgis/core/assets/esri/themes/base/icons/fonts/";
$calcite-fonts-path: "@arcgis/core/assets/esri/themes/base/fonts/fonts/";

// @arcgis/core sass
@import "./../../node_modules/@arcgis/core/assets/esri/themes/base/core";
