@import "variables";

// browsers have gotten weird with the focused view outline
// may no longer be needed as of 4.28
.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
  outline-offset: 0;
}

.esri-view .esri-view-surface::after {
  outline: none !important;
  outline-offset: 0;
}

// lock out attribution
.esri-attribution * {
  user-select: none;
}

// tighten up ui
.esri-ui-top-right {
  top: -5px;
  right: -5px;
}

.esri-ui-top-left {
  top: -5px;
  left: -5px;
}

.esri-ui-bottom-left {
  bottom: -5px;
  left: -5px;
}

.esri-ui-bottom-right {
  bottom: -5px;
  right: -5px;
}

// smaller basemap toggle
.esri-basemap-toggle {
  width: 59px;
  height: 59px;
  .esri-basemap-toggle__container,
  .esri-basemap-toggle__image {
    width: 54px;
    height: 54px;
    border-radius: var(--calcite-border-radius);
  }
}

// table
.esri-widget__table {
  background-color: transparent;
}

.esri-widget__table tr th {
  border-right: 3px solid rgba($brand, 0.125);
}

.esri-widget__table tr:nth-child(odd) {
  background-color: rgba($brand, 0.05);
}

.esri-widget__table tr:nth-child(even) {
  background-color: rgba($color: #ffffff, $alpha: 0) !important;
}
