@use "sass:color";

/////////////////////////////////////////////////////////////////////////////////////////
// vernonia brand colors and variables
/////////////////////////////////////////////////////////////////////////////////////////
$brand: #6b9560;
$brand-hover: color.scale($brand, $lightness: -15.612244898%);
$brand-press: color.scale($brand, $lightness: -27.0612244898%);
$link-underline: rgba($brand-press, 0.4);
$brand-dark: #44693d;
$brand-off-white: #fcfaf1;
$brand-popup-button-hover-background: rgba(
  $color: $brand,
  $alpha: 0.05
);
$brand-popup-selected-background: rgba(
  $color: $brand,
  $alpha: 0.2
);
$font-family: "Roboto", sans-serif;
