/** loader **/
@import "./../widgets/Loader";

/** view control **/
@import "./../widgets/ViewControl";

/** widget classes **/
.cov-layout--view {
  width: 100%;
  height: 100%;
}

.cov-layout--action-bar {
  border-top: none;
  border-bottom: none;
}

.cov-layout--heading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 40px;
  padding-left: 1rem;
  background-color: var(--calcite-ui-brand-dark);
  color: var(--calcite-ui-text-inverse);
  border-bottom-right-radius: var(--calcite-border-radius);
}

.cov-layout--heading-menu-icon {
  cursor: pointer;
  padding-right: 1rem;
}

.cov-layout--heading-icon {
  height: 24px;
  padding-right: 1rem;
  user-select: none;
}

.cov-layout--heading-title {
  font-size: var(--calcite-font-size-2);
  user-select: none;
  padding-right: 1rem;
}

.cov-layout--heading-search {
  width: 25vw;
  min-width: 240px;
  max-width: 420px;
  transition: width var(--calcite-animation-timing);
  border-bottom-right-radius: var(--calcite-border-radius);

  * {
    outline: none !important;
  }

  .esri-widget--button {
    width: 40px;
  }
  .esri-widget--button,
  .esri-input {
    height: 40px;
    background: lighten($brand-dark, 7.5%);
    color: white;
  }
  .esri-search__input {
    &::-webkit-input-placeholder,
    &::placeholder {
      color: rgba(white, 0.6);
    }
  }
  .esri-search__sources-button {
    border: none;
  }
  .esri-search__submit-button {
    border: none;
    border-bottom-right-radius: var(--calcite-border-radius);
  }
  .esri-menu {
    margin-top: 4px;
  }
  .esri-menu__list-item--active,
  .esri-menu__list-item--active:hover,
  .esri-menu__list-item--active:focus {
    background-color: lighten($brand, 40%);
    border-left-color: $brand;
  }

  .esri-menu__list-item--focus,
  .esri-menu__list-item:hover,
  .esri-menu__list-item:focus {
    background-color: lighten($brand, 40%);
  }

  .esri-search__source.esri-menu__list-item:active {
    background-color: lighten($brand, 30%);
  }
}

.cov-layout--heading-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 50;

  background-color: var(--calcite-ui-foreground-1);

  calcite-panel {
    position: absolute;
    height: 100vh;
    width: 260px;
    left: -260px;
    top: 0;
    z-index: 500;
    transition: left 0.125s ease-in;

    &.cov-layout--heading-menu-open {
      left: 0;
    }
  }
}

.cov-layout--menu-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 40;

  background-color: rgba(#151515, 0.75);
}

.cov-layout--action-pad-panels {
  position: absolute;
  box-shadow: $box-shadow;
  top: 0;
  right: calc(100% + 8px);
  
  calcite-panel {
    border-radius: var(--calcite-border-radius);
  }
}