@import "./../scss/variables";
@import "./../scss/arcgis";
@import "./../scss/base";
@import "./../scss/esriOverrides";
@import "./scss/layoutMixins";
@import "./support/Loader";
@import "./support/ViewControl2D";

// header
.cov-layouts--map-application_header {
  @include application-header(space-between);
}

.cov-layouts--map-application_header--content {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;
  user-select: none;

  @include header-search(30vw, 260px, 720px);
}

.cov-layouts--map-application_header--title {
  img {
    height: 2.25rem;
  }

  div {
    font-size: 1.3rem;
  }
}

@media (max-width: 650px) {
  .cov-layouts--map-application_header--title div {
    display: none;
  }
}

// compact header
.cov-layouts--map-application_header--compact {
  @include application-header(space-evenly);
}

.cov-layouts--map-application_header--compact-controls {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;
  user-select: none;

  img {
    height: 2.25rem;
  }

  @include header-search(100%, 0, 100%);
}

// user control
.cov-layouts--map-application_user-control {
  display: flex;
  align-items: center;

  calcite-icon {
    opacity: 0.8;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  calcite-avatar {
    cursor: pointer;
  }
}

.cov-layouts--map-application_user-control--popover {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  padding: 0.75rem 1rem;

  div {
    font-weight: var(--calcite-font-weight-medium);
  }

  span {
    font-size: var(--calcite-font-size--1);
    color: var(--calcite-color-text-3);
  }
}

// view
.cov-layouts--map-application_view {
  width: 100%;
  height: 100%;
}
