.cov-account-control {
  padding: 0.75rem;
}

.cov-account-control--info {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

  calcite-avatar {
    margin-right: 1rem;
  }
}

.cov-account-control--links {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;

  calcite-link {
    margin: 0 0.25rem;
  }
}