.cov-widgets--layers {

  .esri-layer-list {
    padding: 0;
  }

  .esri-layer-list__list {
    padding: 0;
  }

  .esri-layer-list__item {
    margin: 0;

    &:last-child {
      border-bottom: none;
    }
  }

  .esri-legend {
    padding: 0;
    // disable weird focusing with legend inside calcite component
    * {
      pointer-events: none;
    }

    * {
      font-size: var(--calcite-font-size--2);
      font-weight: 100;
    }

    .esri-legend__service {
      padding: 6px 7.5px;
    }

    .esri-legend__layer-table {
      margin-bottom: 4px;
    }

    .esri-legend__layer-cell--symbols {
      padding: 0;
    }

    .esri-legend__symbol {
      svg {
        transform: scale(75%);
      }
    }

    .esri-widget__heading {
      margin-bottom: 0.25rem;
    }
  }

  .esri-layer-list,
  .esri.esri-legend {
    &[hidden=""] {
      display: none;
    }
  }
}

.cov-widgets--layers_notice {
  margin: 0.5rem;
}
