.cov-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  user-select: none;
  color: var(--calcite-ui-text-2);
  background-color: var(--calcite-ui-background);
  transition: opacity 1s;
}

.cov-loader--title {
  position: absolute;
  top: 10vw;
  left: 20vw;
  min-width: 120px;

  div {
    font-size: var(--calcite-font-size-2);
    margin: 0 0.75rem 1rem;
  }
}

.cov-loader--info {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  line-height: 1.5;
  font-size: var(--calcite-font-size--1);

  div {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.cov-loader--heart,
.cov-loader--coffee {
  width: var(--calcite-font-size--1);
  height: var(--calcite-font-size--1);
  margin: 0 0.35rem;
}

.cov-loader--heart {
  color: #d9534f;
}

.cov-loader--coffee {
  color: #be9969;
}
