
.cov-markup--content {
  padding: 0.75rem;
}

.cov-markup--row-heading {
  margin: 0.5rem 0 0.25rem;
  // font-size: var(--calcite-font-size--2);
}

.cov-markup--button-row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  &[hidden=""] {
    display: none;
  }
  calcite-button {
    &[appearance=""] {
      opacity: 0.6;
    }
  }
}

.cov-markup--offset-button {
  transform: rotate(90deg);
}

.cov-markup--selection-notice {
  margin: 0.25rem 0.5rem;
}

// symbol editor
.cov-markup--symbol-editor--slider-labels {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: -10px;
  width: 100%;

  span {
    margin: 0;
    line-height: 1;
    font-size: var(--calcite-font-size--3);
    font-weight: 500;
    color: var(--calcite-ui-text-2);
  }
}

// color picker
.cov-markup--color-picker {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 3px;
}

.cov-markup--color-picker--color {
  width: 17px;
  height: 17px;
  cursor: pointer;
  outline: 1px solid var(--calcite-ui-border-1);
}

.cov-markup--color-picker--color--selected {
  outline: 2px solid var(--calcite-ui-brand);
  outline-offset: 1px;
  cursor: default;
}
