.cov-widget--measure_measure-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.75rem;
  background-color: var(--calcite-color-foreground-1);
  border-bottom: 1px solid var(--calcite-color-border-3);
}

.cov-widget--measure_notice {
  margin: 0.75rem;
}

.cov-widget--measure_options {
  padding: 1rem;
}

.cov-widget--measure_profile {
  .esri-elevation-profile {
    padding: 0;
  }
}

.cov-widget--measure_profile-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.cov-widget--measure_profile-statistics {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.625rem;
  font-size: 0.6875rem;

  table {
    width: 100%;
    td, th {
      width: 33.3333%;
      text-align: start;
    }
  }
}

.cov-widget--measure_results {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem 0.75rem;

  &[hidden=""] {
    display: none;
  }

  hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: var(--calcite-color-border-2);
    margin: 0.375rem 0;
  }
}

.cov-widget--measure_results-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
