.cov-measure {

  .esri-elevation-profile {
    padding: 0;
  }

  .esri-elevation-profile__header {
    display: none !important;
  }

  .esri-elevation-profile__chart-spinner {
    color: var(--calcite-color-brand);
  }
}

.cov-measure--content {
  display: flex;
  flex-flow: column;
  gap: 0.75rem;
  padding: 0.75rem;
}

.cov-measure--options-content {
  display: flex;
  flex-flow: column;
  padding: 0.75rem;
}

.cov-measure--row {
  display: flex;
  flex-flow: row;
  gap: 0.5rem;
  width: 100%;

  calcite-select {
    width: 100%;
  }

  &[hidden=""] {
    display: none;
  }
}

.cov-measure--result {
  display: flex;
  flex-flow: column;
  gap: 0.125rem;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    display: block;
    width: 100%;
  }

  calcite-label {
    margin-bottom: -0.5rem;
  }
}

.cov-measure--content,
.cov-measure--options-content,
.cov-measure--result,
.cov-measure--action-row,
.cov-measure--select-row {
  &[hidden=""] {
    display: none;
  }
}

.cov-measure--color-selector {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.cov-measure--color-selector--color {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.cov-measure--color-selector--color--selected {
  outline: 2px solid var(--calcite-color-brand);
  outline-offset: 2px;
  cursor: default;
}
