@import "./../variables";

.cov-search {
  .esri-search {
    // match calcite-panel width-scale="m"
    width: 20vw;
    min-width: 240px;
    max-width: 420px;
    transition: width var(--calcite-animation-timing);

    border-radius: var(--calcite-border-radius);
  
    .esri-widget--button,
    .esri-input {
      background: var(--calcite-ui-foreground-1);
      fill: var(--calcite-ui-text-3);
      color: var(--calcite-ui-text-3);
    }
  
    // match calcite-action hover and active
    .esri-widget--button {
      &:hover {
        background-color: var(--calcite-ui-foreground-2);
        fill: var(--calcite-ui-text-1);
        color: var(--calcite-ui-text-1);
      }
      &:active {
        background-color: var(--calcite-ui-foreground-3);
      }
    }
  
    .esri-search__input {
      border-bottom-left-radius: var(--calcite-border-radius);
      border-top-left-radius: var(--calcite-border-radius);
      &::-webkit-input-placeholder,
      &::placeholder {
        color: rgba(#6a6a6a, 0.6);
      }
    }
  
    // no input border radius with sources button
    .esri-search--multiple-sources {
      .esri-search__input {
        border-radius: 0;
      }
    }
  
    // buttons
    .esri-search__sources-button {
      border: none;
      border-bottom-left-radius: var(--calcite-border-radius);
      border-top-left-radius: var(--calcite-border-radius);
    }
  
    .esri-search__submit-button {
      border: none;
      border-bottom-right-radius: var(--calcite-border-radius);
      border-top-right-radius: var(--calcite-border-radius);
    }
  
    .esri-menu {
      border-radius: var(--calcite-border-radius);
    }
  
    // menu/dropdown colors
    .esri-menu__list-item--active,
    .esri-menu__list-item--active:hover,
    .esri-menu__list-item--active:focus {
      background-color: lighten($brand, 40%);
      border-left-color: $brand;
    }
  
    .esri-menu__list-item--focus,
    .esri-menu__list-item:hover,
    .esri-menu__list-item:focus {
      background-color: lighten($brand, 40%);
    }
  
    .esri-search__source.esri-menu__list-item:active {
      background-color: lighten($brand, 30%);
    }
  }
}
