@import "./../variables";

.cov--view-control {
  box-shadow: none !important;
}

.cov--view-control--pads {
  display: flex;
  flex-flow: column;
  gap: 0.75rem;

  calcite-action-pad {
    box-shadow: $box-shadow;
  }
}
